.menu-page  {
  border: 1px solid rgb(196, 192, 192);
  padding: 10px;
}

.menu-col-1 h2 {
  margin: 50px;
}

.add-meal-form {
  padding: 0px 10px;
}

.menu-page .order-details  > * { 
  margin-top: 20px;
}


.place-btn {
  padding: 7px 25px;
}

.price-tag {
  font-size: 20px;
  font-weight: bold;
}

.action-card {
  padding: 15px;
  border: 1px solid green;
  border-radius: 5px;
  box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
}

.flex-items {
  display: flex;
}

.action-card input, .action-card img {
  margin: 10px;
}

.action-card img {
  max-height: 100px;
  border-radius: 3px;
}


.details {
  padding-top:10px;
}

.all-options {
  max-height: 400px;
  overflow: auto;
  padding: 10px;
  border-top: 0.5px solid rgb(168, 164, 164);
}

.modify-btn, .delete-btn {
  font-size: 13px;
  padding: 2px 25px;
  margin-top: 10px;
  
}

.delete-btn {
  background: rgb(128, 0, 0);
  border-radius: 30px;
  border: 2px solid rgb(128, 0, 0);
  cursor: pointer;
  color: #fff;
  transition: all 0.4s;
}

.delete-btn:hover {
  background: none;
  color: rgb(128, 0, 0);
}

.btnss {
  text-align: right;
}


.signup-form > * {
  margin-bottom: 30px;
}

.form-input {
  width: 90%;
  outline: none;
  padding: 15px 20px;
  background: none;
  border: 1px solid green;
  border-radius: 30px;
  transition: all 0.4s;
}

.form-input:focus {
  transform: scale(1.09);
}

.form-button {
  width: 100%;
  text-align: center;
  font-size: 15px;
  transition: all 0.3s;
}